@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
header {
    background-color: rgb(183, 43, 226);
    height: 254px;
    color: black;
    display: flex;
    overflow: hidden;
}
#logo{
    width: 10%;
}
@keyframes tituloAnimation{
   0%{
       left: -65%;
   }
   50%{
       left: 100%;
   }
   100%{
       left: 0%
   }

}
.tituloAnimation{
    position: relative;
    animation: tituloAnimation 4s  ;
    width: 80%;
    font-size: 200px;
    font-family: 'Anton', sans-serif;
    color: orange;
    text-align: center;
}
.noticia{
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    width:500px;
}
.link {
    border-right: 5px solid rgb(183, 43, 226);
    height: 100%;
    display: inline-block;
    padding-right: 20px; 
    text-decoration: dashed black;
}
.foto{
    border: 4px solid rgb(183, 43, 226);
    width: 500px;    
}
body{
    background-color: orange;
    margin: 0px 0px 0px 0px;
}
footer{
    border: 3px solid rgb(183, 43, 226);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 99.7%;
    display: block;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(183, 43, 226);
}
.gridContainer{
    display: grid;
    grid-template-columns: 500px 800px 500px;
    justify-items: normal;
    padding: 10px;
}

.noticia-foto1{
    grid-row: 1/2;
    grid-column: 1;

}
.noticia1{
    grid-row: 2/3;
    grid-column: 1;
}
.noticia-foto2{
    grid-row: 3/4;
    grid-column: 1;
}

.noticia2{
    grid-row: 4/5;
    grid-column: 1;
}

.noticia-principal{
    grid-column: 2/span 1;
    grid-row: 1/span 3;
    font-size: 40px;
    margin: 20px;
}
.img3{
    border: 4px rgb(183, 43, 226) solid;
    margin-left: 30px;
}
.textoPrincipal{
    margin-left: 30px;
}
.propaganda{
    position: absolute;
    top: 284px;
    left: 1600px;
}
.propaganda-imagem{
    width: 200px;
    height: 700px; 
}

.conteiner{
    height: 578px;
    width: 1024px;
    overflow: hidden;
    position: absolute;
    top: 29%;
    left: 57.6%;
    transform: translate(-50%);
}

.navegation{
    position: absolute;
    bottom: 20px;
    top: 89%;
    left: 60%;
    transform: translate(-50%);
    display: flex;    
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover{
    background-color: gray;
}

input{
    display:none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
    border:4px solid rgb(183, 43, 226);
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~.s1 {
    margin-left: -20%;
}

#slide3:checked ~.s1{
    margin-left: -40%;
}
#slide4:checked ~.s1{
    margin-left: -60%;
}

#slide5:checked ~.s1{
    margin-left: -80%;
}

