@charset "utf-8";

header {
    background-color: rgb(183, 43, 226);
    height: 254px;
    color: black;
    text-align: center;
}
#logo{
    width: 10%;

}
#titulo{
    width: 80%;
    font-size: 200px;
}
#noticia{
    font-size: 50px;
}
main{
    display: flex;
    flex-wrap: wrap;
}

