@charset "utf-8";

body{
    margin: 0%;
    padding: 0%;
    background-color: orange;
    border: 3px solid #fff;
}

.conteinerHead{
    display: grid;
    grid-template-columns: 400px 1310px 400px;
    grid-template-rows: 250px;
    background-color: rgb(183, 43, 226);
    overflow: hidden;
}

.logo{
    width: 200px;
    height: 250px;
}

.titulo{
    text-align: center;
    font-size: 150px;
    color: orange;
    margin-top: 50px;
}

@keyframes tituloAnimation{
    0%{
        left: -65%;
    }
    50%{
        left: 150%;
    }
    100%{
        left: 0%;
    }
}    
 .tituloAnimation{
     position: relative;
     animation: tituloAnimation 4s;
     width: 80%;
     font-size: 150px;
     font-family: 'Anton', sans-serif;
     color: orange;
     text-align: center;
 }

 .conteinerNav{
    background-color: rgb(183, 43, 226);
    border: 3px solid #fff;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 35px;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 10px;
 }

 .BarraNav{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 4px;
 }

 .BarraNav:hover{
    background-color: rgb(183, 43, 226);
    color: #fff;
    transition: 0.6s;

 }

 .conteinerMain{
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 400px 100px 400px 100px 100px;
 }

 .img{
    width: 550px;
    height: 400px;
    border: 3px solid rgb(183, 43, 226);
    margin: 10px;
 }

 p{
    font-size: 30px;
    margin: 15px;
 }

 .procurados{
    font-size: 90px;
    position: absolute;
    top:105%;
    left: 34%;
 }

            
 .propaganda{
    width: 308.6%;
    height: 100px;
    border: 3px solid rgb(183, 43, 226);
 }

 .conteinerSlides{
    height: 400px;
    width: 600px;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 47.8%;
    transform: translate(-50%);
}

.navegation{
    position: absolute;
    bottom: 20px;
    top: 103%;
    left: 47.8%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover{
    background-color: gray;
}

input{
    display:none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~.s1 {
    margin-left: -20%;
}

#slide3:checked ~.s1{
    margin-left: -40%;
}
#slide4:checked ~.s1{
    margin-left: -60%;
}

#slide5:checked ~.s1{
    margin-left: -80%;
} 

.conteinerFooter{
    background-color: orange;
    border: 6px solid rgb(183, 43, 226);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px;
}

.conteinerFooter div{
    font-size: 30px;
    text-align: center;
}