@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

.main4{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px 600px 500px;
}

.imgComida{
    width: 90%;
    height: 480px;
    border: 6px solid rgb(183, 43, 226);
    margin: 20px;
}

.comidaPrincipal{
    width: 150%;
    height: 550px;
    grid-column: span;
    margin-left: 230px;
    margin-bottom: 130px;
    border: 6px solid rgb(183, 43, 226);
}

#div01{
    grid-column: 1/2;
}

p{
    font-size: 35px;
    font-family: 'Tiro Gurmukhi', serif;
    margin: 20px;
}

h2{
    font-size: 55px;
    font-family: 'Tiro Gurmukhi', serif;
    margin: 20px;
}
